index.css
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: arial;
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-slider-right:before {
  content: "î˜€";
}

.icon-slider-left:before {
  content: "î˜";
}

.icon-nav-menu:before {
  content: "î˜‚";
}

.icon-arrodown:before, .icon-dropdown-toggle:before {
  content: "î˜ƒ";
}

.icon-file-upload-remove:before {
  content: "î¤€";
}

.icon-file-upload-icon:before {
  content: "î¤ƒ";
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.mod-touch * {
  background-attachment: scroll !important;
}

.block {
  display: block;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.clearfix:before, .clearfix:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.button {
  -webkit-appearance: button;
}

html[data-dynpage] [data-cloak] {
  color: rgba(0, 0, 0, 0) !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.embed:before, .embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.embed:after {
  clear: both;
}

.video {
  width: 100%;
  padding: 0;
  position: relative;
}

.video iframe, .video object, .video embed {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button, [type="button"], [type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}

.form {
  margin: 0 0 15px;
}

.form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.input, .select {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.input:-moz-placeholder, .select:-moz-placeholder {
  color: #999;
}

.input::-moz-placeholder, .select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.input::-webkit-input-placeholder, .select::-webkit-input-placeholder {
  color: #999;
}

.input:focus, .select:focus {
  border-color: #3898ec;
  outline: 0;
}

.input[disabled], .select[disabled], .input[readonly], .select[readonly], fieldset[disabled] .input, fieldset[disabled] .select {
  cursor: not-allowed;
}

.input[disabled]:not(.input-disabled), .select[disabled]:not(.input-disabled), .input[readonly], .select[readonly], fieldset[disabled]:not(.input-disabled) .input, fieldset[disabled]:not(.input-disabled) .select {
  background-color: #eee;
}

textarea.input, textarea.select {
  height: auto;
}

.select {
  background-color: #f3f3f3;
}

.select[multiple] {
  height: auto;
}

.form-label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  display: inline-block;
}

.radio {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.radio:before, .radio:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.radio:after {
  clear: both;
}

.radio-input {
  float: left;
  margin: 3px 0 0 -20px;
  line-height: normal;
}

.file-upload {
  margin-bottom: 10px;
  display: block;
}

.file-upload-input {
  width: .1px;
  height: .1px;
  opacity: 0;
  z-index: -100;
  position: absolute;
  overflow: hidden;
}

.file-upload-default, .file-upload-uploading, .file-upload-success {
  color: #333;
  display: inline-block;
}

.file-upload-error {
  margin-top: 10px;
  display: block;
}

.file-upload-default.hidden, .file-upload-uploading.hidden, .file-upload-error.hidden, .file-upload-success.hidden {
  display: none;
}

.file-upload-uploading-btn {
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
}

.file-upload-file {
  background-color: #fafafa;
  border: 1px solid #ccc;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 8px 9px 8px 11px;
  display: flex;
}

.file-upload-file-name {
  font-size: 14px;
  font-weight: normal;
  display: block;
}

.file-remove-link {
  width: auto;
  height: auto;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 10px;
  padding: 3px;
  display: block;
}

.icon-file-upload-remove {
  margin: auto;
  font-size: 10px;
}

.file-upload-error-msg {
  color: #ea384c;
  padding: 2px 0;
  display: inline-block;
}

.file-upload-info {
  padding: 0 12px;
  line-height: 38px;
  display: inline-block;
}

.file-upload-label {
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

.icon-file-upload-icon, .icon-file-upload-uploading {
  width: 20px;
  margin-right: 8px;
  display: inline-block;
}

.icon-file-upload-uploading {
  height: 20px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container:before, .container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.container:after {
  clear: both;
}

.container .row {
  margin-left: -10px;
  margin-right: -10px;
}

.row:before, .row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.col .col {
  padding-left: 0;
  padding-right: 0;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.6667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6667%;
}

.col-12 {
  width: 100%;
}

.hidden-main {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .hidden-main {
    display: inherit !important;
  }

  .hidden-medium {
    display: none !important;
  }

  .col-medium-1 {
    width: 8.33333%;
  }

  .col-medium-2 {
    width: 16.6667%;
  }

  .col-medium-3 {
    width: 25%;
  }

  .col-medium-4 {
    width: 33.3333%;
  }

  .col-medium-5 {
    width: 41.6667%;
  }

  .col-medium-6 {
    width: 50%;
  }

  .col-medium-7 {
    width: 58.3333%;
  }

  .col-medium-8 {
    width: 66.6667%;
  }

  .col-medium-9 {
    width: 75%;
  }

  .col-medium-10 {
    width: 83.3333%;
  }

  .col-medium-11 {
    width: 91.6667%;
  }

  .col-medium-12 {
    width: 100%;
  }

  .col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .hidden-main, .hidden-medium {
    display: inherit !important;
  }

  .hidden-small {
    display: none !important;
  }

  .row, .container .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .col-small-1 {
    width: 8.33333%;
  }

  .col-small-2 {
    width: 16.6667%;
  }

  .col-small-3 {
    width: 25%;
  }

  .col-small-4 {
    width: 33.3333%;
  }

  .col-small-5 {
    width: 41.6667%;
  }

  .col-small-6 {
    width: 50%;
  }

  .col-small-7 {
    width: 58.3333%;
  }

  .col-small-8 {
    width: 66.6667%;
  }

  .col-small-9 {
    width: 75%;
  }

  .col-small-10 {
    width: 83.3333%;
  }

  .col-small-11 {
    width: 91.6667%;
  }

  .col-small-12 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .hidden-main, .hidden-medium, .hidden-small {
    display: inherit !important;
  }

  .hidden-tiny {
    display: none !important;
  }

  .col {
    width: 100%;
  }

  .col-tiny-1 {
    width: 8.33333%;
  }

  .col-tiny-2 {
    width: 16.6667%;
  }

  .col-tiny-3 {
    width: 25%;
  }

  .col-tiny-4 {
    width: 33.3333%;
  }

  .col-tiny-5 {
    width: 41.6667%;
  }

  .col-tiny-6 {
    width: 50%;
  }

  .col-tiny-7 {
    width: 58.3333%;
  }

  .col-tiny-8 {
    width: 66.6667%;
  }

  .col-tiny-9 {
    width: 75%;
  }

  .col-tiny-10 {
    width: 83.3333%;
  }

  .col-tiny-11 {
    width: 91.6667%;
  }

  .col-tiny-12 {
    width: 100%;
  }
}

.widget {
  position: relative;
}

.widget-map {
  width: 100%;
  height: 400px;
}

.widget-map label {
  width: auto;
  display: inline;
}

.widget-map img {
  max-width: inherit;
}

.widget-map .gm-style-iw {
  text-align: center;
}

.widget-map .gm-style-iw > button {
  display: none !important;
}

.widget-twitter {
  overflow: hidden;
}

.widget-twitter-count-shim {
  vertical-align: top;
  width: 28px;
  height: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #758696;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.widget-twitter-count-shim * {
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.widget-twitter-count-shim .widget-twitter-count-inner {
  text-align: center;
  color: #999;
  font-family: serif;
  font-size: 15px;
  line-height: 12px;
  position: relative;
}

.widget-twitter-count-shim .widget-twitter-count-clear {
  display: block;
  position: relative;
}

.widget-twitter-count-shim.-large {
  width: 36px;
  height: 28px;
}

.widget-twitter-count-shim.-large .widget-twitter-count-inner {
  font-size: 18px;
  line-height: 18px;
}

.widget-twitter-count-shim:not(.-vertical) {
  margin-left: 5px;
  margin-right: 8px;
}

.widget-twitter-count-shim:not(.-vertical).-large {
  margin-left: 6px;
}

.widget-twitter-count-shim:not(.-vertical):before, .widget-twitter-count-shim:not(.-vertical):after {
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 0;
}

.widget-twitter-count-shim:not(.-vertical):before {
  border-width: 4px;
  border-color: rgba(117, 134, 150, 0) #5d6c7b rgba(117, 134, 150, 0) rgba(117, 134, 150, 0);
  margin-top: -4px;
  margin-left: -9px;
}

.widget-twitter-count-shim:not(.-vertical).-large:before {
  border-width: 5px;
  margin-top: -5px;
  margin-left: -10px;
}

.widget-twitter-count-shim:not(.-vertical):after {
  border-width: 4px;
  border-color: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  margin-top: -4px;
  margin-left: -8px;
}

.widget-twitter-count-shim:not(.-vertical).-large:after {
  border-width: 5px;
  margin-top: -5px;
  margin-left: -9px;
}

.widget-twitter-count-shim.-vertical {
  width: 61px;
  height: 33px;
  margin-bottom: 8px;
}

.widget-twitter-count-shim.-vertical:before, .widget-twitter-count-shim.-vertical:after {
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 100%;
  left: 50%;
}

.widget-twitter-count-shim.-vertical:before {
  border-width: 5px;
  border-color: #5d6c7b rgba(117, 134, 150, 0) rgba(117, 134, 150, 0);
  margin-left: -5px;
}

.widget-twitter-count-shim.-vertical:after {
  border-width: 4px;
  border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  margin-left: -4px;
}

.widget-twitter-count-shim.-vertical .widget-twitter-count-inner {
  font-size: 18px;
  line-height: 22px;
}

.widget-twitter-count-shim.-vertical.-large {
  width: 76px;
}

.background-video {
  height: 500px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.background-video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}

.background-video > video::-webkit-media-controls-start-playback-button {
  -webkit-appearance: none;
  display: none !important;
}

.background-video--control {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.background-video--control > [hidden] {
  display: none !important;
}

.slider {
  height: 300px;
  text-align: center;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ddd;
  position: relative;
}

.slider-mask {
  z-index: 1;
  height: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slide {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  position: relative;
}

.slider-nav {
  z-index: 2;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  margin: auto;
  padding-top: 10px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-nav.round > div {
  border-radius: 100%;
}

.slider-nav.num > div {
  width: auto;
  height: auto;
  font-size: inherit;
  line-height: inherit;
  padding: .2em .5em;
}

.slider-nav.shadow > div {
  box-shadow: 0 0 3px rgba(51, 51, 51, .4);
}

.slider-nav-invert {
  color: #fff;
}

.slider-nav-invert > div {
  background-color: rgba(34, 34, 34, .4);
}

.slider-nav-invert > div.active {
  background-color: #222;
}

.slider-dot {
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .4);
  margin: 0 3px .5em;
  transition: background-color .1s, color .1s;
  display: inline-block;
  position: relative;
}

.slider-dot.active {
  background-color: #fff;
}

.slider-dot:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

.slider-dot:focus.active {
  box-shadow: none;
}

.slider-arroleft, .slider-arroright {
  width: 80px;
  cursor: pointer;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slider-arroleft [class^="icon-"], .slider-arroright [class^="icon-"], .slider-arroleft [class*=" icon-"], .slider-arroright [class*=" icon-"] {
  position: absolute;
}

.slider-arroleft:focus, .slider-arroright:focus {
  outline: 0;
}

.slider-arroleft {
  z-index: 3;
  right: auto;
}

.slider-arroright {
  z-index: 4;
  left: auto;
}

.icon-slider-left, .icon-slider-right {
  width: 1em;
  height: 1em;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-aria-label {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.slider-force-show {
  display: block !important;
}

.dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.dropdown-btn, .dropdown-toggle, .dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

.dropdown-toggle {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}

.dropdown-toggle:focus {
  outline: 0;
}

.icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.dropdown-list {
  min-width: 100%;
  background: #ddd;
  display: none;
  position: absolute;
}

.dropdown-list.-open {
  display: block;
}

.dropdown-link {
  color: #222;
  padding: 10px 20px;
  display: block;
}

.dropdown-link.-current {
  color: #0082f3;
}

.dropdown-link:focus {
  outline: 0;
}

@media screen and (max-width: 767px) {
  .nav-brand {
    padding-left: 10px;
  }
}

.lightbox-backdrop {
  cursor: auto;
  letter-spacing: normal;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  color: #fff;
  text-align: center;
  z-index: 2000;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: rgba(0, 0, 0, .9);
  outline: 0;
  font-family: Helvetica Neue, Helvetica, Ubuntu, Segoe UI, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  list-style: disc;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate(0);
}

.lightbox-backdrop, .lightbox-container {
  height: 100%;
  -webkit-overfloscrolling: touch;
  overflow: auto;
}

.lightbox-content {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.lightbox-view {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: absolute;
}

.lightbox-view:before {
  content: "";
  height: 100vh;
}

.lightbox-group, .lightbox-group .lightbox-view, .lightbox-group .lightbox-view:before {
  height: 86vh;
}

.lightbox-frame, .lightbox-view:before {
  vertical-align: middle;
  display: inline-block;
}

.lightbox-figure {
  margin: 0;
  position: relative;
}

.lightbox-group .lightbox-figure {
  cursor: pointer;
}

.lightbox-img {
  width: auto;
  height: auto;
  max-width: none;
}

.lightbox-image {
  float: none;
  max-width: 100vw;
  max-height: 100vh;
  display: block;
}

.lightbox-group .lightbox-image {
  max-height: 86vh;
}

.lightbox-caption {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0, 0, 0, .4);
  padding: .5em 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.lightbox-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lightbox-control {
  width: 4em;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: all .3s;
  position: absolute;
  top: 0;
}

.lightbox-left {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==");
  display: none;
  bottom: 0;
  left: 0;
}

.lightbox-right {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+");
  display: none;
  bottom: 0;
  right: 0;
}

.lightbox-close {
  height: 2.6em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
  background-size: 18px;
  right: 0;
}

.lightbox-strip {
  white-space: nowrap;
  padding: 0 1vh;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflox: auto;
  overfloy: hidden;
}

.lightbox-item {
  width: 10vh;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2vh 1vh;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
}

.lightbox-active {
  opacity: .3;
}

.lightbox-thumbnail {
  height: 10vh;
  background: #222;
  position: relative;
  overflow: hidden;
}

.lightbox-thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox-thumbnail .lightbox-tall {
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.lightbox-thumbnail .lightbox-wide {
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.lightbox-spinner {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, .4);
  border-radius: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: .8s linear infinite spin;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox-spinner:after {
  content: "";
  border: 3px solid rgba(0, 0, 0, 0);
  border-bottom-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
}

.lightbox-hide {
  display: none;
}

.lightbox-noscroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  .lightbox-content {
    height: 96vh;
    margin-top: 2vh;
  }

  .lightbox-view, .lightbox-view:before {
    height: 96vh;
  }

  .lightbox-group, .lightbox-group .lightbox-view, .lightbox-group .lightbox-view:before {
    height: 84vh;
  }

  .lightbox-image {
    max-width: 96vw;
    max-height: 96vh;
  }

  .lightbox-group .lightbox-image {
    max-width: 82.3vw;
    max-height: 84vh;
  }

  .lightbox-left, .lightbox-right {
    opacity: .5;
    display: block;
  }

  .lightbox-close {
    opacity: .8;
  }

  .lightbox-control:hover {
    opacity: 1;
  }
}

.lightbox-inactive, .lightbox-inactive:hover {
  opacity: 0;
}

.richtext:before, .richtext:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.richtext:after {
  clear: both;
}

.richtext[contenteditable="true"]:before, .richtext[contenteditable="true"]:after {
  white-space: initial;
}

.richtext ol, .richtext ul {
  overflow: hidden;
}

.richtext .richtext-figure-selected.richtext-figure-type-video div:after, .richtext .richtext-figure-selected[data-rt-type="video"] div:after, .richtext .richtext-figure-selected.richtext-figure-type-image div, .richtext .richtext-figure-selected[data-rt-type="image"] div {
  outline: 2px solid #2895f7;
}

.richtext figure.richtext-figure-type-video > div:after, .richtext figure[data-rt-type="video"] > div:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.richtext figure {
  max-width: 60%;
  position: relative;
}

.richtext figure > div:before {
  cursor: default !important;
}

.richtext figure img {
  width: 100%;
}

.richtext figure figcaption.richtext-figcaption-placeholder {
  opacity: .6;
}

.richtext figure div {
  color: rgba(0, 0, 0, 0);
  font-size: 0;
}

.richtext figure.richtext-figure-type-image, .richtext figure[data-rt-type="image"] {
  display: table;
}

.richtext figure.richtext-figure-type-image > div, .richtext figure[data-rt-type="image"] > div {
  display: inline-block;
}

.richtext figure.richtext-figure-type-image > figcaption, .richtext figure[data-rt-type="image"] > figcaption {
  caption-side: bottom;
  display: table-caption;
}

.richtext figure.richtext-figure-type-video, .richtext figure[data-rt-type="video"] {
  width: 60%;
  height: 0;
}

.richtext figure.richtext-figure-type-video iframe, .richtext figure[data-rt-type="video"] iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.richtext figure.richtext-figure-type-video > div, .richtext figure[data-rt-type="video"] > div {
  width: 100%;
}

.richtext figure.richtext-align-center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.richtext figure.richtext-align-center.richtext-figure-type-image > div, .richtext figure.richtext-align-center[data-rt-type="image"] > div {
  max-width: 100%;
}

.richtext figure.richtext-align-normal {
  clear: both;
}

.richtext figure.richtext-align-fullwidth {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.richtext figure.richtext-align-fullwidth > div {
  padding-bottom: inherit;
  display: inline-block;
}

.richtext figure.richtext-align-fullwidth > figcaption {
  display: block;
}

.richtext figure.richtext-align-floatleft {
  float: left;
  clear: none;
  margin-right: 15px;
}

.richtext figure.richtext-align-floatright {
  float: right;
  clear: none;
  margin-left: 15px;
}

.nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.nav:before, .nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.nav:after {
  clear: both;
}

.nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-link.-current {
  color: #0082f3;
}

.nav-menu {
  float: right;
  position: relative;
}

[data-nav-menu-open] {
  text-align: center;
  min-width: 200px;
  background: #c8c8c8;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
  display: block !important;
}

.-nav-link-open {
  display: block;
  position: relative;
}

.nav-overlay {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.nav-overlay [data-nav-menu-open] {
  top: 0;
}

.nav[data-animation="over-left"] .nav-overlay {
  width: auto;
}

.nav[data-animation="over-left"] .nav-overlay, .nav[data-animation="over-left"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  right: auto;
}

.nav[data-animation="over-right"] .nav-overlay {
  width: auto;
}

.nav[data-animation="over-right"] .nav-overlay, .nav[data-animation="over-right"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  left: auto;
}

.nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.nav-button:focus {
  outline: 0;
}

.nav-button.-open {
  color: #fff;
  background-color: #c8c8c8;
}

.nav[data-collapse="all"] .nav-menu {
  display: none;
}

.nav[data-collapse="all"] .nav-button, .-nav-dropdown-open, .-nav-dropdown-toggle-open {
  display: block;
}

.-nav-dropdown-list-open {
  position: static;
}

@media screen and (max-width: 991px) {
  .nav[data-collapse="medium"] .nav-menu {
    display: none;
  }

  .nav[data-collapse="medium"] .nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .nav[data-collapse="small"] .nav-menu {
    display: none;
  }

  .nav[data-collapse="small"] .nav-button {
    display: block;
  }

  .nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .nav[data-collapse="tiny"] .nav-menu {
    display: none;
  }

  .nav[data-collapse="tiny"] .nav-button {
    display: block;
  }
}

.tabs {
  position: relative;
}

.tabs:before, .tabs:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.tabs:after {
  clear: both;
}

.tab-menu {
  position: relative;
}

.tab-link {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  padding: 9px 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.tab-link.-current {
  background-color: #c8c8c8;
}

.tab-link:focus {
  outline: 0;
}

.tab-content {
  display: block;
  position: relative;
  overflow: hidden;
}

.tab-pane {
  display: none;
  position: relative;
}

.-tab-active {
  display: block;
}

@media screen and (max-width: 479px) {
  .tab-link {
    display: block;
  }
}

.ix-emptyfix:after {
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dyn-empty {
  background-color: #ddd;
  padding: 10px;
}

.dyn-hide, .dyn-bind-empty, .condition-invisible {
  display: none !important;
}

.layout-layout1 {
  display: grid;
}

.layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.layout-layout {
  grid-rogap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .layout-blockcontainer {
    max-width: none;
  }
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image {
  border-radius: 0;
}

.cell {
  align-items: center;
}

.cell-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section {
  margin-bottom: 60px;
}

.footer-light {
  color: #000;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 40px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  height: 48px;
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  background-color: #1a1b1f;
  background-image: url("https://assets-global.website-files.com/62434fa732124a0fb112aab4/62434fa732124a29b112aac4_ic%20Arrow%20Go.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.cell-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.quick-stack {
  padding-left: 0;
}

.cell-4 {
  justify-content: flex-end;
  padding-bottom: 0;
}

.quick-stack-2 {
  grid-column-gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.quick-stack-3 {
  margin-bottom: 60px;
  padding-top: 0;
}

.quick-stack-4 {
  margin-bottom: 40px;
}

.quick-stack-5 {
  align-self: flex-start;
  margin-bottom: 40px;
}

.section-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.form-block {
  margin-left: 220px;
  margin-right: 220px;
}

.heading {
  text-align: center;
}

.paragraph, .paragraph-2 {
  font-size: 12px;
}

.heading-2 {
  margin-top: 92px;
}

.container-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container-2 {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }
}

#node-ebe97498-fe60-e83c-4802-3e9301a9450f-d5a19872 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#node-ebe97498-fe60-e83c-4802-3e9301a94510-d5a19872 {
  grid-row: span 2 / span 2;
}

#node-ebe97498-fe60-e83c-4802-3e9301a94519-d5a19872 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#node-ebe97498-fe60-e83c-4802-3e9301a94545-d5a19872 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#avis.node-d76422bf-d702-b03b-f1b3-2a209f18db93-d5a19872 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#node-d21e5a24-0251-a2c8-968a-1f55803b2cd9-d5a19872 {
  grid-row: span 2 / span 2;
}

#node-b4e57fe6-f4ba-7854-bafe-1e5b2f1ba1d7-d5a19872 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#node-de09b226-34e5-e816-fc91-294a6220558e-d5a19872 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
