body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

input {
  line-height: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.button {
  -webkit-appearance: button;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.form {
  margin: 0 0 15px;
}

.form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.input, .select {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.input::-webkit-input-placeholder, .select::-webkit-input-placeholder {
  color: #999;
}

.select {
  background-color: #f3f3f3;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container:before, .container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.container:after {
  clear: both;
}

.nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-menu {
  float: right;
  position: relative;
}

.nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.layout-layout1 {
  display: grid;
}

.layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.layout-layout {
  grid-rogap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cell {
  align-items: center;
}

.cell-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section {
  margin-bottom: 60px;
}

.footer-light {
  color: #000;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 40px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  height: 48px;
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  background-color: #1a1b1f;
  background-image: url("arrow-png-transparent-11.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.cell-4 {
  justify-content: flex-end;
  padding-bottom: 0;
}

.quick-stack-2 {
  grid-column-gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.quick-stack-3 {
  margin-bottom: 60px;
  padding-top: 0;
}

.quick-stack-4 {
  margin-bottom: 40px;
}

.quick-stack-5 {
  align-self: flex-start;
  margin-bottom: 40px;
}

.form-block {
  margin-left: 220px;
  margin-right: 220px;
}

.heading {
  text-align: center;
}

.paragraph, .paragraph-2 {
  font-size: 12px;
}

.heading-2 {
  margin-top: 92px;
}

.container-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

#grid-1 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#grid-2 {
  grid-row: span 2 / span 2;
}

#grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#grid-4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#grid-5 {
  grid-row: span 2 / span 2;
}

#grid-6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#grid-7 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
